<!DOCTYPE html>
<html>
<head>
    <title>My Django Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">My Django Blog</a></h1>
    </header>

    {% if posts %}
        {% for post in posts %}
            <article>
                <time>Published: {{ post.published_date }}</time>
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}
</body>
</html>
